.cabecalho__menu__haburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/hamburger.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}
.container__img {
    padding: 1em;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-azul);
    
}
.lista-menu__item:root{
    background: var(--cor-azul);
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo{
    color: red;
    font-weight: 700;
}
.container__botao:checked~.container__rotulo{
    background: pink;
}
@media (min-width: 768px){
    .cabecalho__menu__haburguer{
        display: none;
    }
    .lista-menu{
        display: flex;
        position: static;
        width: auto;
        background: transparent;
    }
    .lista-menu__item{
        background: transparent;
    }
    .lista-menu__link{
        background: none;
        -webkit-text-fill-color: initial;
        color: var(--branco);
    }
}
