@import url(./form.css);
@import url(./menu.css);
@import url(./resultado.css);
@import url(./listaMenu.css);

/* ===== Reset Básico ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, #0026ff, #5d5fee, #796bfa, #0026ff);
  height: 100vh;
  margin: 0;
  color: #000000;
  padding: 20px;
}

/* ===== Título ===== */
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}





